.home {
  text-align: left;
  padding: 100px 100px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
}

.button-group {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.explore-button,
.cta-button {
  padding: 12px 24px;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.explore-button {
  background-color: transparent;
  color: #e64c00;
  border: 2px solid #e64c00;
}

.cta-button {
  background-color: #e64c00;
  color: white;
  border: 2px solid #e64c00;
}

.explore-button:hover {
  background-color: #e64c00;
  color: white;
}

.cta-button:hover {
  background-color: #ca4300;
  border-color: #ca4300;
}
