.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fffef0;
  margin: 20px 40px;
  border-radius: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar-brand a {
  text-decoration: none;
  color:  #0d4e18;
}

.navbar-auth {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.auth-button {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color:  #0d4e18;
  border: 1px solid  #0d4e18;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.auth-button:hover {
  background-color: #0d4e18;
  color: #fff;
}
